@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body {
  margin: 0;
  padding: 0;
}

.logo{
  font-size: 2rem
}
/* Form */

.input{
  outline: none;
  padding: 0;
  height:38px !important;
  font-size:12px
}

.label{
  transform: translateY(-8px);
}
.form-control:focus{
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}